@font-face {
  font-family: 'Fira Sans';
  src: url('/FiraSans-Regular.woff2') format('woff2'),
       url('/FiraSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/FiraSans-Bold.woff2') format('woff2'),
       url('/FiraSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}
body {
  background-color: #6c197d;
  color: #999;
}
a {
  text-decoration: none;
  color: #FFC849;
}
a:hover {
  color: #DFA952;
}

h1 {
  text-align: center;
  font-size: 390%;
  color: #FFC849;
}
h2 {
  text-align: center;
  color: #DFA952;
}
h3 {
  color: #F9E0B4;
  font-size: 1.5rem;
  text-align: center;
}

body.light-mode {
  background-color: #EDC9FF !important;
  color: #222 !important;
}

img.logo {
  display: block;
  position: relative;
  align-items: center;

}

p {
  color: #DFA952;
}

.controls {
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .controls {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .controls > * {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 769px) {
  .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}