.article-card {
  display: inline-block;
  border: 1px solid #380f70;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(86, 3, 134, 0.37);
  transition: transform 0.2s ease-in-out;
  text-align: center;
  width: calc(33.33% - 32px);
  min-width: 280px;
  max-width: 600px;
  margin: 16px;
  background-color: #310F62;
  flex-grow: 1;
}

.article-card:hover {
  transform: scale(1.05);
}

.article-card img {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  object-position: center;
}

.article-card h3 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.article-card p {
  font-size: 1rem;
  color: white;
  margin-bottom: 12px;
  padding: 1px;
}

.article-card .article-date,
.article-card .article-author {
  font-size: 0.9rem;
  color: white;
  margin-bottom: 8px;
  font-style: italic;
}

.article-card a {
  color: #007bff;
  font-weight: bold;
}

.article-card a:hover {
  text-decoration: underline;
}

body.light-mode .article-card {
  background-color: #9A66D5 !important;
  color: white !important;
  border: 1px solid #c49529 !important;
}
body.light-mode .article-card p {
  color: white !important;
}
body.light-mode .article-card a {
  color: #007bff !important;
}
body.light-mode .article-card a:hover {
  color: #0056b3 !important;
}