.sort-dropdown {
  min-width: 180px;
}

.sort-dropdown select {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #310F62;
  color: #F9E0B4;
  border: 1px solid #380f70;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

.sort-dropdown select:hover {
  background-color: #3d1577;
}

body.light-mode .sort-dropdown select {
  background-color: #9A66D5;
  border-color: #c49529;
}
