
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar .logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-search-bar-container {
  flex: 1;
  margin: 0 20px;
  background-color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  background-color: #333;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links li a:hover {
  text-decoration: none;
  color: purple;
}

/* Mobile Menu Styles */
.mobile-menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-links.mobile-menu-open {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

.nav-links.mobile-menu-open li {
  margin: 10px 0;
  background-color: #333;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-search-bar-container {
    display: none;
  }

  .nav-links {
    display: none;
    background-color: #333;
    flex-direction: column;
  }

  .mobile-menu-toggle {
    display: block;
  }
}

.navbar .search-bar {
  align-items: center;
  padding-top: 20px;
  background-color: #333;
}
