@font-face {
  font-family: 'Asap';
  src: url('/fonts/CustomFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body {
  font-family: 'Asap', sans-serif;
  padding: 20px;
  background-color: black;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #555;
}

.search-bar input {
  padding: 8px;
  font-size: 16px;
}

.search-bar button {
  padding: 8px 12px;
  cursor: pointer;
}

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.article-card {
  background-color: rgb(117, 17, 100);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: space-between;
}

.article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.article-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: wheat;
  background-color: rgb(117, 17, 100);
}

.article-card p {
  font-size: 16px;
  color: white;
  background-color: rgb(117, 17, 100);
}

@media (max-width: 768px) {
  .search-bar {
    width: 100%;
    justify-content: center;
  }

  .article-list {
    grid-template-columns: 1fr;
  }
}

h1 {
  color: white;
  font-size: 70px;
}

h2 {
  color: wheat;
}